In [1]:
import seaborn as sns 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = sns.load_dataset("iris")

In [4]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [8]:
data['species'] = le.fit_transform(data['species'])

In [9]:
data['species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [16]:
X = data.iloc[:,1:4]

In [17]:
X

     sepal_width  petal_length  petal_width
0            3.5           1.4          0.2
1            3.0           1.4          0.2
2            3.2           1.3          0.2
3            3.1           1.5          0.2
4            3.6           1.4          0.2
..           ...           ...          ...
145          3.0           5.2          2.3
146          2.5           5.0          1.9
147          3.0           5.2          2.0
148          3.4           5.4          2.3
149          3.0           5.1          1.8

[150 rows x 3 columns]

In [18]:
y = data.iloc[:,-1]

In [19]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [21]:
from sklearn.model_selection import train_test_split

In [116]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=123)

In [117]:
X_train.shape

(120, 3)

In [118]:
X_test.shape

(30, 3)

In [119]:
y_train.shape

(120,)

In [120]:
y_test.shape

(30,)

In [121]:
from sklearn.neighbors import KNeighborsClassifier

In [122]:
k = KNeighborsClassifier(n_neighbors=5)

In [123]:
k.fit(X_train,y_train)

KNeighborsClassifier()

## testing model

In [124]:
pred = k.predict(X_test)

In [125]:
pred

array([2, 2, 2, 1, 0, 2, 1, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 0, 1, 0, 0, 1,
       0, 2, 0, 0, 0, 2, 2, 0])

## metrics

In [126]:
from sklearn.metrics import r2_score,mean_squared_error
print("knn - accuracy:",r2_score(y_test,pred))
print("knn - mean_sqaured_error:",mean_squared_error(y_test,pred))

knn - accuracy: 0.9162011173184358
knn - mean_sqaured_error: 0.06666666666666667

In [127]:
from sklearn.svm import SVC

In [128]:
svc = SVC()

In [129]:
svc.fit(X_train,y_train)

SVC()

In [130]:
pred1 = svc.predict(X_test)

In [131]:
pred1

array([1, 2, 2, 1, 0, 1, 1, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 0, 1, 0, 0, 2,
       0, 1, 0, 0, 0, 2, 2, 0])

In [132]:
print("svm - accuracy:",r2_score(y_test,pred1))
print("svm - mean_sqaured_error:",mean_squared_error(y_test,pred1))

svm - accuracy: 0.9162011173184358
svm - mean_sqaured_error: 0.06666666666666667